HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/classes
!**/src/test/**/target/test-classes
!**/src/test/**/target/generated-sources
!**/src/test/**/target/generated-test-sources
!**/src/test/**/target/maven-status
!**/src/test/**/target/surefire-reports

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
