<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Account lock notice</title>
    <style>
        body {
            background-color: #f1f1f1;
            padding: 30px 0 30px 0;
            font-family: Arial, sans-serif;
            font-size: 10pt;
        }

        .content {
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 10px;
            padding: 20px;
        }
    </style>
</head>
<body>
<div style="max-width: 800px; margin: 0 auto 0 auto; padding: 12px">
    <div class="content">
        <h3>Hi <b th:text="${name}"></b></h3>
        <p>We regret to inform you of this news 🙁☹️☹️</p>
        <p>Your account has been locked due to a violation of our booking policy.</p>
        <p>For more information, please contact hotline: <b th:text="${hotline}"></b></p>
    </div>
    <div style="margin-top: 20px; text-align: center">
        &copy; 2023 Hit Hotel
    </div>
</div>
</body>
</html>